body{
   background-color: #FFFAF0 ;


} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FAEBD7;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

img{
  width:40%;
  height:30%;
  margin:5%;
  display: inline-block;
}

.container{
  display: flex;
  align-items: center;
}

.text{
  display: flex;
  flex-direction: column;
}

.vipmore{
  border: none;
  display: block;
  background-color: #633328;
  padding: 16px 10px;
  margin: 5px 35%;
  text-decoration: none;
  color: #F5F5DC;
 text-align: center;
}

.vipmore:hover{
  background-color: #DEB887;
}

.classic{
  display: flex;
  align-items: center;
}

.classicmore{
  border: none;
  display: block;
  background-color: #6495ED;
  padding: 16px 10px;
  margin: 5px 35%;
  text-decoration: none;
  color:#F8F8FF;
 text-align: center;
}

.classicmore:hover{
  background-color: #5F9EA0;
}